.todo{
    position: relative;
    background-color: #ee6c4d;
    margin: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow:scroll;
    cursor: pointer;
    
}
.todo, .over-div{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.todo::-webkit-scrollbar {
    display: none;
  }
.todo-title{
    text-align: left;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
    margin-left: 20px;
}
.todo-btn{
    margin:10px;
}
.todo-title{
    font-size: 20px;
}

.over-div{
    z-index: 12;
    position: absolute;
    justify-content: center;
    width: 200px;
    height: 0px;
    background-color: white;
    color: #ee6c4d;
    font-weight: bold;
    opacity: 0;
    transition: all .5s ease;
    visibility: hidden;
}

.todo:hover .over-div{
    height: 35px;
    opacity: 1;
    visibility: visible;
}