.todo{
    background-color: #ee6c4d;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow:scroll;
}
.todo::-webkit-scrollbar {
    display: none;
  }
.todo-title{
    text-align: left;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;
}
.todo-btn{
    margin:10px;
}
.todo-title{
    font-size: 20px;
}