@font-face {
  font-family: KoHo-Regular;
  src: url("./assets/fonts/KoHo-Regular.ttf");
}
body{
  background-color: #3d5a80;
}
*{
  font-family: KoHo-Regular;
  color: #fff;
}
button{
  background-color: #3d5a80;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  width: 100px;
  cursor: pointer;
}
button:hover{
  background-color: #118ab2;
  transition: all .4s ease-in-out;
}
input{
  border: none;
  outline: none;
  border-radius: 20px;
  color: #3d5a80;
  padding: 15px 20px;
}
.App {
  text-align: center;
}
.todos-title{
  font-size: 40px;
  font-weight: bold;
}